################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/FuelExplorer.csproj.user
/FuelCalculator.csproj.user
